.container-status{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.cont-employee{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    gap: 1rem;
    background-color: lightcyan;
}
.username{
    border: 2px solid lightseagreen;
    padding: 5px;
    border-radius: 15px;
}
.sites{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}
.background{
    background-color: lightcyan;
    height: 100vh;
}

.card-header-employee{
    background-color: lightgreen;
}
.card-header-site{
    background-color: darkturquoise;
}