.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container-login{
    display: flex;
    text-align: center;
}
.card{
    width: 300px;
    text-align: center;
}
.card-body{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.btn-login{
    margin-top: 15px;
}
.inline{
    display: flex;
}
#iconPass{
    margin-top: 10px;
    margin-left: 5px;
}
.msgError{
    margin-top: 2px;
    padding: 0;
}